body {
    margin: 0;
    /* cursor: none; */
}
.game {
    position: fixed;
    width: 100%;
    height: 100%;
}
.game .paddle {
    position: absolute;
    background-color: #005cb9;
}
.game .ball {
    position: absolute;
    border-radius: 100%;
    background-color: black;
}
.game .brick {
    position: absolute;
    border-radius: 5px;
}
.game .brick-1 {
    background-color: red;
}
.game .brick-2 {
    background-color: orange;
}
.game .brick-3 {
    background-color: yellow;
}
.game .brick-4 {
    background-color: greenyellow;
}
.game .brick-5 {
    background-color: green;
}
.game .brick-6 {
    background-color: blue;
}
.game .brick-7 {
    background-color: blueviolet;
}
.game .brick-8 {
    background-color: indigo;
}
footer {
    position: absolute;
    right: 12px;
    bottom: 5px;
}